export COMMUNITY_MATRIX_HOME_SERVER_URL=https://matrix.org
export COMMUNITY_MATRIX_HOME_SERVER=matrix.org
export COMMUNITY_MATRIX_USER_ID=example
export COMMUNITY_MATRIX_TOKEN=example_token
export COMMUNITY_GITHUB_OWNER=owner
export COMMUNITY_TELEGRAM_APP_ID=x
export COMMUNITY_TELEGRAM_APP_HASH=x
export COMMUNITY_TELEGRAM_PUBLIC_KEY_FILE=x
export COMMUNITY_TELEGRAM_SESSION_FILE=x
export COMMUNITY_TELEGRAM_BOT_AUTH_TOKEN=x
